@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

$Poppins: "Roboto", sans-serif;

// colors
$dark: #0f171e;
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: #353535;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 0px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
