.filter__wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 20px 0;
  height: 80px;
  z-index: 2;
  background: #34373c;
}
.nav {
}
.navIcon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  float: left;
  background: url(../img/ImgurLogo.svg) center center no-repeat;
  width: 87px;
  height: 34px;
  margin-left: 50px;
  background-size: contain;
}

.sidebarWrap {
}
.filter {
  display: flex;
  flex-flow: row nowrap;
  color: #fff; /*text color*/
  margin-left: 100px;
}

.filter__section:not(:last-child) {
  margin-right: 50px;
}

.filter__section label {
  margin-right: 10px;
}
