.filter__wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 20px 0;
  height: 80px;
  z-index: 2;
  background: #e0e0e0;
  justify-content: space-between;
}

.fiFilter {
  color: black;
}
.rightArrowIcon {
  color: black;
}
.item {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  height: 30px;
}
.formLabel {
  margin-left: 20px;
}
.label {
  margin-right: 15px;
}

.navIcon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drawer {
  opacity: 0.9;
}

.logo {
  float: left;
  background: url(../logo/Logo.png) center center no-repeat;
  width: 150px;
  height: auto;
  margin-left: 50px;
  background-size: contain;
}

.filter {
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  color: #fff; /*text color*/
  margin-left: 100px;
  margin-right: 100px;
}

.filter__section:not(:last-child) {
  margin-right: 50px;
}

.filter__section label {
  margin-right: 10px;
}
