@import "./../styles/variables.scss";

.nav {
  background-color: $primary;

  &__container {
    background-color: $primary;
    &__brand {
      color: $primary;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}
